[submodule "vim/pack/junegunn/start/fzf.vim"]
	path = vim/pack/junegunn/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/machakann/start/vim-highlightedyank"]
	path = vim/pack/machakann/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/pack/sheerun/start/vim-polyglot"]
	path = vim/pack/sheerun/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/tpope/start/vim-commentary"]
	path = vim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/tpope/start/vim-surround"]
	path = vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/tpope/start/vim-fugitive"]
	path = vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/tpope/start/vim-unimpaired"]
	path = vim/pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/pack/vim-airline/start/vim-airline"]
	path = vim/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/neoclide/start/coc.mvim"]
	path = vim/pack/neoclide/start/coc.mvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/pack/ryanoasis/start/vim-devicons"]
	path = vim/pack/ryanoasis/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/pack/ludovicchabant/start/vim-gutentags"]
	path = vim/pack/ludovicchabant/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/pack/twerth/start/ir_black"]
	path = vim/pack/twerth/start/ir_black
	url = https://github.com/twerth/ir_black
[submodule "vim/pack/tpope/start/vim-abolish"]
	path = vim/pack/tpope/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/pack/tpope/start/vim-repeat"]
	path = vim/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
